Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    1.Python
    2.SQL
    3.R

| Data Science Tools |
| ---------------|
| RStudio |
| Apache Spark |
| Tensorflow |

Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers.

In [5]:
200/60

3.3333333333333335

This will convert 200 minutes to hours by diving by 60.

**Objectives:**

* Arithmetics

* Open Sources

* Most using languages for Data Science

# Author

Fahri Efe YanÄ±klar